@{
    Layout = null;
    List<TestSpDto>? sps = ViewData["TestSp"] as List<TestSpDto>;
  

}
<div class="col-12">
    <canvas id="chartsi" class="min-height-300"></canvas>
</div>

<script src="/assets/plugins/chart.js/dist/Chart.bundle.min.js"></script>
<script src="/assets/js/pages/bar-chart.js"></script>
