
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <title>ارسال</title>
</head>
<body>
    <div class="h-25">
        <p></p>
    </div>
    <div class="mt-5 pt-5">
        <div class="text-center">
            <h2 class="fs-3">عملیات مورد نظر شما انجام شد</h2>
        </div>
    </div>
</body>
</html>
