@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ارسال خبر</title>
    <partial name="_AdminCss" />
</head>
<body>
    <div class="container">
        <div class="mt-5 alert alert-dark">
            عملیات مورد نظر شما انجام شد
        </div>
    </div>
</body>
</html>
