@model List<OilNewsListDto>
@{
    ViewData["Title"] = "خبرهای با کلمه کلیدی خاص";
}
@section CssForThis{
    <link href="/assets/plugins/data-table/DataTables-1.10.16/css/jquery.dataTables.css" rel="stylesheet">
}
@section ToperLink{
    <a href="#">لیست اخبار</a>
}
@section PluginForThis{
    <script src="/assets/plugins/data-table/js/jquery.dataTables.min.js"></script>

}
<a class="btn btn-primary" href="/">داشبورد</a>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped" id="data-table">
        <thead>
            <tr>

                <th>عنوان</th>
                <th>توضیحات</th>
                <th>ادرس سایت </th>

                <td>عملیات</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title.ShowTitle()</td>
                    <td>@item.Description.ShowInTable()</td>

                    <td>@item.TitleUrl</td>

                    <td>
                        <a asp-controller="News"
                           asp-action="ShowNews" asp-route-newsId="@item.Id" target="_blank"
                           class="btn btn-info btn-round">نمایش</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div><!-- /.table-responsive -->
@section Script{
    <script>
        var tableMain = $('#data-table').DataTable({
            "columnDefs": [{
                "targets": 3,
                "orderable": false
            }],
            "pageLength": 100
        });

        $(window).on('resize', function () {
            $('#data-table').css("width", "100%");
        });
    </script>
}