@model UsersDto
@{
    Layout = null;
}
<form asp-action="ChangePassword">
    <input asp-for="Id" type="hidden" />
    <div class="col-12">
        <label>نام و نام خانوادگی</label>
        <input class="form-control" asp-for="FullName" readonly />
    </div>
    <div class="col-12">
        <label>شماره موبایل</label>
        <input class="form-control" asp-for="Mobile" readonly />

    </div>
    <div class="col-12">
        <label>رمز جدید</label>
        <input class="form-control" name="password" />
    </div>
    <div class="col-4 offset-4 d-grid gap-2">
        <input type="submit" value="ثبت" class="btn btn-success" />
    </div>
</form>